
    
@media screen and (min-width:992px) and (max-width:1200px){
        body{
            background-image: url(../imagem/back-pc.jpg);
           
        }
            #phone{
                display: none;
            }
            #tablet{
                display: none;
            }
            #pc{
                display: block;
            }
            
            #imp{
                display: none;
            }
            
            #tv{
                display: none;
            }
        } 
@media screen and (min-width:1200px){
            body{
                background-image: url(../imagem/back-tablet.jpg);
               
            }
                #phone{
                    display: none;
                }
                #tablet{
                    display: none;
                }
                #pc{
                    display: none;
                }
                
                #imp{
                    display: none;
                }
                
                #tv{
                    display: block;
                }
            }  


